.timer {
  margin-top: 20px;
  font-size: 3rem;
  margin-left: -10px;
  margin-right: -10px;
  color:rgb(51, 51, 51)
}

.justVideo {
  display: none;
}

.video {
  margin-top: 10px;

  width: 250px;
    height: 150px;
  background-color:rgb(187, 187, 187);
}

.activeVideo {
  display: block;
}